<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3a5c03d4d2.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf896e772d.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <!--HEADER -->
  <header>
    <div class="contenedorlogo">
      <div class="logoContainer">
        <img src="images/logo-mercado-liebre.svg" alt=" logo de mercado libre" />
      </div>
      <div class="barraContainer">
        <button class="barra">Buscar productos, marcas</button>
        <i class="lupa fas fa-search"></i>
      </div>
    </div>
    <section class="comprasCuotas">
      <i class="iconoCompras fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de credito
    </section>
    <nav class="navBar">
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </nav>

    <nav class="navBar2">
      <ul>
        <li>
          <a href="#">Creá tu cuenta</a>
          <i class="fa-regular fa-address-card"></i>
        </li>
        <li>
          <a href="/">Ingresá</a>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>
        <li>
          <a href="#">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </nav>

    <section class="iconLista">
      <i class="fa-solid fa-bars"></i>
    </section>
  </header>
  <!-- FINAL HEADER -->
  <main>
    <form class="formulario" action="/" method="POST">
      <div class="formulario-login">
        <h2 class="">Ingrasa tu susuario y contraseña </h2>
        <label for="usuario">Nombre de usuario</label>
          <input type="text" id="usuario" name="username" placeholder="Nombre de usuario" required>

          <label for="nombre">Contraseña</label>
          <input type="password" id="nombre" name="name" placeholder="Email" required>

      <button class="btn" type="submit">LOGIN</button>
  
        </div>
      </form>
    </main>
  <!-- INICIO FOOTER -->
  <footer>
    <div class="foo">
      <section class="pagoTarjeta">
          <i class="fa-solid fa-credit-card"></i>
          <h2> Pagá con tarjeta o en efectivo </h2>
          <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!
          </p>
      </section>

      <section class="pagoTarjeta">
          <i class="fa-solid fa-gift"></i>
          <h2> Envío gratis desde $ 2.500 </h2>
          <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.
          </p>
      </section>

      <section class="pagoTarjeta">
          <i class="fa-solid fa-user-shield"></i>
          <h2> Seguridad, de principio a fin </h2>
          <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.
          </p>
      </section>
  </div> 

      <section class="copy">
          <h2 class="copyright"> Copyright ©️ 1999-2020 MercadoLiebre S.R.L. </h2>
      </section>
  </footer>
<!-- FINAL FOOTER -->
</body>

</html>
    