<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>formulario</title>
  <script src="https://kit.fontawesome.com/8945ba6e2e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <!-- INICIO HEADER -->
  <header>
    <div class="contenedorlogo">
      <div class="logoContainer">
        <img src="images/logo-mercado-liebre.svg" alt=" logo de mercado libre" />
      </div>
      <div class="barraContainer">
        <button class="barra">Buscar productos, marcas</button>
        <i class="lupa fas fa-search"></i>
      </div>
    </div>
    <section class="comprasCuotas">
      <i class="iconoCompras fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de credito
    </section>
    <nav class="navBar">
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </nav>

    <nav class="navBar2">
      <ul>
        <li>
          <a href="#">Creá tu cuenta</a>
          <i class="fa-regular fa-address-card"></i>
        </li>
        <li>
          <a href="/">Ingresá</a>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>
        <li>
          <a href="#">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </nav>

    <section class="iconLista">
      <i class="fa-solid fa-bars"></i>
    </section>
  </header>
  <!-- FINAL HEADER -->
  <main class="contenedor-principal contenedor">
    
    <form class="formulario" action="/" method="POST">
      <h3 class="title">Foto de usuario</h3>
      <div class="container-file">
        <input type="file" name="fotoDePerfil" />
    </div>
    <p class="personal"> Información personal</p>
      <div class="campo">
          <label for="nombre">Nombre de Usuario</label>
          <input type="text" id="nombre" name="name" placeholder="Nombre" required>
        </div>

        <div class="campo">
          <label for="usuario">Apellido de usuario</label>
          <input type="text" id="usuario" name="username" placeholder="Apellido" required>
        </div>

        <div class="campo">
          <label for="correo">Email</label>
          <input type="email" id="correo" name="email" placeholder="Correo Electrónico" required>
        </div>

        <div class="campo">
          <label for="nombre">Contraseña</label>
          <input type="password" id="nombre" name="name" required>
        </div>

        <div class="campo">
          <label for="nombre">Repite la contraseña</label>
          <input type="password" id="nombre" name="name" required>
        </div>

        <div class="campo">
          <label for="fecha">Fecha de nacimiento</label>
          <input type="date" id="fecha" name="fDnacimiento" required>
        </div>

        <div class="campo">
          <label for="domicilio">Domicilio</label>
          <input type="text" id="domicilio" name="domicilio" placeholder="Dirección de su vivienda" required>
        </div>
        <h2 class="seleccion">Seleccioná el tipo de usuario</h2>
        <div class="user">
          <div class="campo">
            <input type="radio" name="tipousuario" required>
           <span>Comprador</span>
          </div>
          <div class="campo">
            <input type="radio" name="tipousuario" required>
            <span> Vendedor</span>
          </div>
        </div>
  
        <h4 class="seleccion">Selecciona tus intereses</h4>
        <div class="campo">
          <input type="checkbox" name="" id="a">
         <span> Electrodomesticos</span>
        </div>
        <div class="campo">
          <input type="checkbox" name="" id="b">
         <span> Moda</span>
        </div>
        <div class="campo">
          <input type="checkbox" name="" id="c">
         <span> Hogar</span>
        </div>
        <div class="campo">
           <input type="checkbox" name="" id="d">
           <span> Jugueterías</span>
        </div>
        <div class="campo">
          <input type="checkbox" name="" id="e">
          <span> Una vida sana</span>
        </div>
        <button class="btn" type="submit">Enviar</button>
        <button class="btn" type="reset">Borrar</button>
        
      
      
    </div>
    </form>
  </main>
  <!-- INICIO FOOTER -->
  <footer>
    <section class="pagoTarjeta">
      <i class="fa-solid fa-credit-card"></i>
      <h2>Pagá con tarjeta o en efectivo</h2>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>

    <section class="pagoTarjeta">
      <i class="fa-solid fa-gift"></i>
      <h2>Envío gratis desde $ 2.500</h2>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>

    <section class="pagoTarjeta">
      <i class="fa-solid fa-user-shield"></i>
      <h2>Seguridad, de principio a fin</h2>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>

    <section class="copy">
      <h2 class="copyright"> Copyright ©️ 1999-2020 MercadoLiebre S.R.L. </h2>
  </section>
  </footer>
  <!-- FINAL FOOTER -->
</body>

</html>